// out: ../public/css/styles.css, sourcemap: true, compress: true
@import "../bower_components/bootstrap/less/bootstrap.less";
@import (less) "../bower_components/bootstrap/dist/css/bootstrap-theme.css";

@blackish: #212121;
@bug: #729f3f;
@cloud: #bdb9b8;
@dragoon01: #53a4cf;
@dragoon02: #f16e57;
@electric: #eed535;
@fairy: #fdb9e9;
@fighting: #d56723;
@fire: #fd7d24;
@ghost: #7b62a3;
@grass: #9bcc50;
@ground: #ab9842;
@ice: #51c4e7;
@normal: #a4acaf;
@poison: #b97fc9;
@psychic: #f366b9;
@rock: #f366b9;
@sky: #3dc7ef;
@steel: #9eb7b8;
@water: #4592c4;


.background-color-bug{
  background: linear-gradient(180deg, @bug 50%, @bug 50%);
  background-color: @bug;
  color: #fff;
}

.background-color-dragoon{
  background: linear-gradient(180deg, @dragoon01 50%, @dragoon02 50%);
  background-color: @dragoon01;
  color: #fff;
}

.background-color-electric{
  background: linear-gradient(180deg, @electric 50%, @electric 50%);
  background-color: @electric;
  color: @blackish;
}

.background-color-fairy{
  background: linear-gradient(180deg, @fairy 50%, @fairy 50%);
  background-color: @fairy;
  color: @blackish;
}

.background-color-fighting{
  background: linear-gradient(180deg, @fighting 50%, @fighting 50%);
  background-color: @fighting;
  color: @blackish;
}

.background-color-fire{
  background: linear-gradient(180deg, @fire 50%, @fire 50%);
  background-color: @fire;
  color: @blackish;
}

.background-color-flying{
  background: linear-gradient(180deg, @sky 50%, @cloud 50%);
  background-color: @sky;
  color: @blackish;
}

.background-color-ghost{
  background: linear-gradient(180deg, @ghost 50%, @ghost 50%);
  background-color: @ghost;
  color: white;
}

.background-color-grass{
  background: linear-gradient(180deg, @grass 50%, @grass 50%);
  background-color: @grass;
  color: @blackish;
}

.background-color-ground{
  background: linear-gradient(180deg, @electric 50%, @ground 50%);
  background-color: @ground;
  color: @blackish;
}

.background-color-ice{
  background: linear-gradient(180deg, @ice 50%, @ice 50%);
  background-color: @ice;
  color: @blackish;
}

.background-color-normal{
  background: linear-gradient(180deg, @normal 50%, @normal 50%);
  background-color: @normal;
  color: @blackish;
}

.background-color-poison{
  background: linear-gradient(180deg, @poison 50%, @poison 50%);
  background-color: @poison;
  color: #fff;
}

.background-color-psy{
  background: linear-gradient(180deg, @psychic 50%, @psychic 50%);
  background-color: @psychic;
  color: #fff;
}

.background-color-rock{
  background: linear-gradient(180deg, @ground 50%, @ground 50%);
  background-color: @ground;
  color: #fff;
}

.background-color-steel{
  background: linear-gradient(180deg, @steel 50%, @steel 50%);
  background-color: @steel;
  color: @blackish;
}

.background-color-water{
  background: linear-gradient(180deg, @water 50%, @water 50%);
  background-color: @water;
  color: #fff;
}

.gray-darker{
  background-color: @gray-darker;
  color: @gray-lighter;
}
